ul(class='navigation', role='navigation')
  li.logo
    a(href='/')
      img(src='/images/auth0.png')
  li.dropdown
    a oauth flows
    .dropdown-content
      a(href='/authorization_code') authorization_code
      a(href='/authorization_code_pkce') authorization_code (PKCE)
      a(href='/implicit') implicit
      a(href='/password') password (ROPG)
      a(href='/client_credentials') client_credentials
      a(href='/refresh_token') refresh_token
      a(href='/device_code') device_code
      a(href='/passwordless') passwordless (backend)
      a(href='/revoke') revoke refresh_token
      a(href='/register_client') Dynamic Application (Client) Registration
      a(href='/database_signup') Database Signup
      a(href='/database_password_reset') Database Change Password
      a(href='https://lock-embedded.vercel.app/login' target="_blank") Embedded Lock
      if (mfa_token)
        a(href='/mfa') mfa
  li
      a(href='/call_api') Call API
  li
      a(href='/user_info') user_info
  li
      a(href='/logmeout') logout

  li.spacer



