ul(class='navigation', role='navigation')
  li.logo
    a(href='/')
      img(src='/images/auth0.png')
  li
      a(href='/authorization_code') authorization_code
  li
      a(href='/authorization_code_pkce') authorization_code (PKCE)
  li
      a(href='/implicit') implicit
  li
      a(href='/password') ROPG
  li
      a(href='/client_credentials') client_credentials
  li
      a(href='/refresh_token') refresh_token
  li
      a(href='/device_code') device_code
  li
      a(href='/passwordless') passwordless
  li
      a(href='/mfa') mfa
  li
      a(href='/revoke') revoke
  li
      a(href='/register_client') register_client
  li.spacer
  li
      a(href='/call_api') Call API
  li
      a(href='/user_info') user_info
  li
      a(href='/logmeout') logout

